.custom-select{
    border-radius: 8px;
    position: relative;
    background-color: #fff;
}

.custom-select input{
    font-size: 14px !important;
}

.custom-select .css-1u9des2-indicatorSeparator {
    display: none !important; /* Remove the vertical line */
}
.custom-select .select-up-arrow{
    padding-right: 10px;
}
.custom-select .css-b62m3t-container{
    position: relative;
}
/* .custom-select .css-1jqq78o-placeholder{
    position: absolute !important;
    top: -15px;
    z-index: 99;
    background-color: #fff;
} */
.custom-select .css-1fdsijx-ValueContainer{
    overflow: visible !important;
}
.custom-select .css-1cz4gva-placeholder{
    font-size: 14px !important;
}
.custom-select .css-qbdosj-Input{
    margin: 0;
    padding: 0;
}
.custom-select .css-2z80yv-placeholder{
    margin: 0;
    padding: 0;
}