.searchby_img {
  height: 40px;
  width: 40px;
}

.img_icon {
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f1f5f9;
  margin: 0 auto;
}

.title {
    /* //styleName: Body/Paragraph-3/Semi bold; */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left; 
}
