.net-effective{
    display: flex;
    justify-content: space-between;
    background-color: #F1F5F9;
    border-radius: 4px;
    padding: 10px 20px;
}
.net-effective .text{
    font-size: 13px;
    font-weight: 500;
    color: #25A42F;
}

.net-effective span{
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    color: #25A42F;
    font-weight: 600;
    font-size: 13px;
}
.net-effective p img {
    margin-left: 10px;
   position: relative;
    top: 0;
    right: 0;
    height: 16px;
    width: 16px;
}
