/* ----------------------------- */

.reward-point-summery {
    background-color: #F8FAFC;
    border-radius: 20px;
    border: 1px solid #CBD5E1;
    padding: 40px 0;
  }
  
  .rps-header {
    padding: 0 40px;
  }
  
  .rps-header h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
  
  .rps-header .custom-select {
    margin-top: 20px;
  }
  
  .rps-body {
    margin-top: 30px;
  }
  
  .rps-ul {
    list-style: none;
    padding: 0 40px;
  }
  
  .rps-li {
    font-size: 14px;
    font-weight: 400;
    color: #64748B;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  
  .rps-footer {
    margin-top: 10px;
  }
  
  .rps-footer .net-effective {
    padding: 8px 40px;
    background-color: #E6F2E7;
  }