/* ----------------------------- */

.reward-point-summery {
    background-color: #F8FAFC;
    border-radius: 8px;
    border: 1px solid #CBD5E1;
    padding: 20px 0;
  }
  
  .rps-header h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  
  .rps-header .custom-select {
    margin-top: 20px;
    width: 100%;
  }
  
  .rps-body {
    margin-top: 30px;
  }
  
  .rps-ul {
    list-style: none;
  }
  
  .rps-li {
    font-size: 13px;
    font-weight: 400;
    color: #64748B;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    line-height: 20px;
  }
  
  .rps-footer {
    margin-top: 8px;
  }
  
  .rps-footer .net-effective {
    background-color: #E6F2E7;
  }