.home {
  position: relative;
}
.buttonTabContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:4px;
}
.buttonContainer{
  padding: 4px;
  background-color: rgba(208, 231, 255, 0.30);
  border-radius: 100px;
}
.initial {
  font-size: 14px;
  background-color: rgba(208, 231, 255, 0.30);
  color: #1D86FF;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
}
.afterClick {
  font-size: 14px;
  background-color: #1D86FF;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
}
.filterButton {
  display: none;
}

@media screen and (max-width: 760px) {
  .filterButton {
    display: block;
    background-color: white;
    color: black;
    font-size: 15px;
    box-shadow: 2px 2px 8px gray;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 2;
    border-radius: 25px;
    font-weight: 600;
  }
  .initial,.afterClick{
    border-radius: 50px;
  }
}
