/* .product {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
.card {
  width: 100%;
  height: 231px;
}

.cardHeader {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -1px;
  color: var(--header-text-color);
  margin-top: 12px;
  margin-bottom: 4px;
}
.cardContent {
  width: 100%;
  background-color: orange;
}
.cardImage {
}
.cardBadge {
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.validityText{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color:var(--text-color);
}
.backButton{
    display: flex;
    align-items: center;
    padding:10px 0px;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-transform: capitalize;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 14px;
    margin-top: 30px;
    cursor: pointer;
}
@media screen and (min-width:760px){
    .card {
        width: 400px;
      }
} */

.backBtn{
  color: #1E293B;
  display: flex;
  justify-content: space-between;
  padding: 22px 0 34px 0;
}
.mainConatiner{
  padding: 0 16px;
}
.cardForm {
  /* text-align: center; */
  padding: 40px 0 24px 0;
}

.cardForm .custom-toggle {
  text-align: center;
}


@media(min-width: 768px){
  .mainConatiner{
      padding: 0 80px;
  }
  /* .prductDetailPage{
      display: grid;
      grid-template-columns: 400px auto;
  } */
}

/* ---------------------------------------------- */


/* form default style  start */
.form-label {
  color: #181C2D;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  display: block;
}

.form-divider {
  margin: 40px 0 28px 0;
}

.form-light-text {
  color: #64748B;
  font-size: 12px;
  font-weight: 400;
}

/* form default style  end */

.gift-for-someone-form form {
  padding-top: 24px;
}

.gift-for-someone-form .form-price-section {
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.form-net-effetive-setion {}


.gift-for-someone-form .radiobtn-group {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.gift-for-someone-form .form-divider h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  font-size: 16px;
  margin: 10px 0 20px;
}

.gift-for-someone-form .form-divider h3 span {
  font-weight: 600;
  background: #fff;
  padding: 0 10px;
}

.gift-for-someone-form .form-light-label {
  font-size: 12px;
  font-weight: 400;
  color: #64748B;
}


/* form sms or mail section */

.gift-for-someone-form .checkbox-group {
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
}

.gift-for-someone-form .checkbox-group .form-check input {
  margin-right: 12px;

}

.gift-for-someone-form .checkbox-group .form-check label {
  font-size: 14px;
  color: #181C2D;
  font-weight: 400;
}

.form-sms-or-mail-section .form-label {
  padding-bottom: 16px;
}

.form-sms-or-mail-section .form-light-text {
  padding-bottom: 24px;
}

.form-sms-or-mail-section .custom-toggle {
  padding-left: 8px;
}

.form-sms-or-mail-section .checkbox-group .form-check-input:focus{
  box-shadow: unset;
}

/* --------------- form user datils  ------------*/

.form-user-details {
  margin-top: 40px;
}

.form-user-details .form-label {
  margin-bottom: 4px;
}

.form-user-details .form-light-text {
  padding-bottom: 19px;
}

/* -------------------- gift section  */

.form-personalise-section .form-label{
  padding-bottom: 14px;
}
.form-personalise-section .input-box{
  padding-bottom: 14px;
}
.form-personalise-section .radiobtn-group{
  padding-bottom: 36px;
}

.form-personalise-section .form-btn{
  padding-top: 24px;
}

.form-personalise-section .radiobtn-group  .swiper-slide {
  width: auto !important;
}

.form-personalise-section .radiobtn-group.gift .swiper-slide{
  width: 150px !important;
}
.form-btn{
  text-align: center;
}

.form-personalise-section button{
  border: 1px solid #1D86FF;
  Padding :10px, 18px, 10px, 18px;
  color: #1D86FF;
  font-weight: 600;
  border-radius: 6px;

}