.input-box.mobile-number input{
    padding-left: 50px;
    font-size: 14px;
  }
.input-box.mobile-number .input-box-label {
    position: absolute;
    top: 0;
    left: 40px;
    padding: 14px;
    color: #475569;
    transition: 0.4s ease-in-out;
    z-index: -1;
    font-weight: 400;
    font-size: 14px;
    
}
.input-box.mobile-number input:valid ~ .input-box-label,
.input-box.mobile-number input:focus ~ .input-box-label
{
    color: #64748B;
    transform: translateX(-30px) translateY(-9px);
    font-size: 12px;
    padding: 0 10px;
    background-color: #fff;
    z-index: 1;
}
.input-box .county-code {
    position: absolute;
    top: 0;
    left: 5px;
    padding: 14px;
    color: #1E293B;
    transition: 0.4s ease-in-out;
    z-index: -1;
    font-weight: 400;
}
