
.card img{
    width: 100%;
}

.cardBody .cardBoldText{
    color: #1E293B;
    font-weight: 600;
    font-size: 20px;
    padding-top: 12px;
    line-height: 40px;
    letter-spacing: -1;
}

.cardBody .cardLightText{
    padding-top: 4px;
    color: #64748B;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}