.buttonTabContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:4px;
  }
  .buttonContainer{
    padding: 4px;
    background-color: var(--bg-button-container-color);
    border-radius: 8px;
  }
  .initial {
    font-size: 14px;
    background-color: transparent;
    color: var(--bg-blue-color);
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
  }
  .afterClick {
    font-size: 14px;
    background-color: var(--bg-blue-color);
    color: var(--white-color);
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
  }

  @media screen and (max-width: 760px) {
    .buttonContainer{
      padding: 4px;
      background-color: var(--bg-button-container-color);
      border-radius: 100px;
    }
    .initial,.afterClick{
      border-radius: 50px;
    }
  }