.header {
    z-index: 99997
}

/* header grid */
.headerContainer {

    margin: 0 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    padding: 8px 0;
}


.searchBarWrap {
    padding-top: 12px;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

@media(min-width: 768px) {
    .headerContainer {
        margin: 0 30px;
        grid-template-columns: 18% 2fr auto;
        grid-template-rows: auto;
    }

    .searchBarWrap {
        grid-column: unset;
        grid-row: unset;
        margin: 0 40px;
    }
}

@media(min-width: 1024px) {
    .headerContainer {
        margin: 0 90px;
        grid-template-columns: auto 1fr auto;
        padding: 16px 0;
    }

    .searchBarWrap {
        padding: 0;
        margin: 0 50px;
    }
}
@media(min-width: 1220px) {
    .searchBarWrap {
        margin: 0 100px;
    }
}

.logoWrap {
    display: flex;
    align-items: center;
}

.logoWrap img {
    width: 112px
}

.searchBtn img {
    width: 24px;
    height: 24px;
}

.headerNavwrap {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

@media (min-width: 375px){
    .headerNavwrap {
        gap: 20px;
    }
}

.NabLoginBox {
    display: none;
}


@media(min-width: 768px) {

    .mobileMenuWrap {
        display: none;
    }

    .headerNavwrap .calculator {
        display: none;
    }
    .NabLoginBox {
        display: block;
    }

}

/* ///// */