.product-form-commn-fields{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.product-form-commn-fields .bold-label{
    color: #181C2D;
    font-size: 14px;
    font-weight: 500;
}
.product-form-commn-fields .input-box .radio-group{
    /* padding-top: 20px; */
    display: flex;
    gap: 5px;
    /* justify-content: center; */
    flex-wrap: wrap;
}