/* .modal-content {
    margin: 50px !important;
 
} */

.welcome-header {
    display: inline-flex;
    padding: 30px 40px 40px 40px;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    gap: 30px;
}

.welcome-header-one {
    display: flex;
    width: 210px;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.welcome-header-one div:first-child {
    color: var(--Gray-Gray-800, #1E293B);
    /* Body/Paragraph-2/Regular */
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.welcome-header-one div:nth-child(2) {
    color: var(--Gray-Gray-800, #1E293B);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 133.333% */
}

.modal-header {
    padding: 0px !important;
    justify-content: space-around !important;
}

.btn-close {
    position: absolute;
    top: 25px;
    right: 23px;
}


.modall-header {
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    background: #FFF;
}

.modal-header-first {
    display: flex;
    /* width: 300px; */
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;

}


.modal-header-first-one {
    display: flex;
    /* height: 228px; */
    flex-direction: column;
    align-items: flex-start;
    /* padding-bottom: 16px; */
    gap: 30px;
    align-self: stretch;
}

.mobile-country-code {
    color: var(--Gray-Gray-900, #181C2D);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
    background-color: #FFF;
    border-right: none;
}

.modal-header-first-two {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.modal-header-second {
    align-self: stretch;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 180% */
}



.create-new-account {
    display: flex;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.create-new-account div {
    font-weight: 400;
    text-align: center;
    font-style: normal;
    font-family: Poppins;
    font-size: 12px;
    line-height: 20px;
}

.login-header-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 10px;

}

.login-header-two {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.login-header-first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-header-first div:first-child {
    color: var(--Gray-Gray-700, #334155);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.login-header-first div:nth-child(2) {
    color: var(--Gray-Gray-800, #1E293B);
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: -0.48px;
}

.login-header-otp-text {
    align-self: stretch;
    color: var(--Gray-Gray-500, #64748B);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.otp-change-label {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 20px;
    gap: 10px;
}

.otp-change-label div:first-child {
    color: var(--Gray-Gray-900, #181C2D);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.28px;
}

.otp-change-label-a {
    color: #1D86FF;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 133.333% */
}

.otp-timer-text {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-top: 10px;
}

.otp-timer-text div {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 20px;
}

.login-otp-button Button {
    width: -webkit-fill-available !important;
    font-size: 12px;
    font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
text-transform: capitalize;
}


/* SignUp CSS */

.otp-generation-style {
    color: #1D86FF;
    background: transparent;
    text-align: right;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.welcome-header-sign {
    display: inline-flex;
    padding: 30px 40px 40px 40px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: -webkit-fill-available;
}

.welcome-header-sign-up {
    display: flex;
    width: 210px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.welcome-header-sign div:nth-child(2) {
    color: var(--Gray-Gray-800, #1E293B);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}